
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Model{% endif %}</h1>
      <h2 class="sub_title">hundreds of different human models with varied actions, including running, jumping, pounching, arching and etc.</h2>
      <h2 class="sub_title">plase send email to gaolin@ict.ac.cn for download and details.</h2>
      <!--
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"A journey of a thousand miles begins with a single step". — Lao Tzu{% endif %}</h2>
      -->
    </div>
  </div>
</section> <!-- End Section Banner -->
