---
layout: default
---
  {% include header.html %}

  {% include banner.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
  
  <tr>
  <td><a href="a/index.html"><h1 style="color:white"><u>Human A</u></h1></a></td>
  <tr>
  
  <tr>
  <td><img src="assets/img/zhang/3.png" height=200></td>
  <td><img src="assets/img/zhang/34.png" height=200></td>
  <td><img src="assets/img/zhang/66.png" height=200></td>
  </tr>
  
  <tr>
  <td><a href="b/index.html"><h1 style="color:white">Human B</h1></a></td>
  <tr>
  
  <tr>
  <td><img src="assets/img/zeng/13.png" height=200></td>
  <td><img src="assets/img/zeng/17.png" height=200></td>
  <td><img src="assets/img/zeng/18.png" height=200></td>
  </tr>
  
  <tr>
  <td><a href="c/index.html"><h1 style="color:white">Human C</h1></a></td>
  <tr>
  
  <tr>
  <td><img src="assets/img/yuan/28.png" height=200></td>
  <td><img src="assets/img/yuan/36.png" height=200></td>
  <td><img src="assets/img/yuan/15.png" height=200></td>
  </tr>

  </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
    <!--{% include pagination.html %}

  {% include footer.html %}-->
  
