---
layout: default
---
  {% include header.html %}

  {% include banner.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
  <tr>
  <td><img src="assets/img/alaska.jpg" height=200></td>
  <td><img src="assets/img/canyon.jpg" height=200></td>
  <td><img src="assets/img/alaska.jpg" height=200></td>
  </tr>
  <tr>
  <td><img src="assets/img/alaska.jpg" height=200></td>
  <td><img src="assets/img/canyon.jpg" height=200></td>
  <td><img src="assets/img/alaska.jpg" height=200></td>
  </tr>

  </table>
  </main>
  <!--{% include newsletter.html %}-->

  {% include pagination.html %}

  {% include footer.html %}
  
