---
layout: default
---
  {% include header.html %}

  {% include banner.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <a href="test.html" class="button">Human 1</a>
  <a href="test.html" class="button">Human 2</a>
  <a href="test.html" class="button">Human 3</a>
  <table align=center>
  <tr>
  <td><img src="assets/img/z3.png" height=200></td>
  <td><img src="assets/img/z34.png" height=200></td>
  <td><img src="assets/img/z66.png" height=200></td>
  </tr>
  <tr>
  <td><img src="assets/img/13.png" height=200></td>
  <td><img src="assets/img/17.png" height=200></td>
  <td><img src="assets/img/18.png" height=200></td>
  </tr>
  <tr>
  <td><img src="assets/img/28.png" height=200></td>
  <td><img src="assets/img/36.png" height=200></td>
  <td><img src="assets/img/15.png" height=200></td>
  </tr>
  <tr>
  <td><img src="assets/img/12.png" height=200></td>
  <td><img src="assets/img/23.png" height=200></td>
  <td><img src="assets/img/41.png" height=200></td>
  </tr>
  </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
    <!--{% include pagination.html %}

  {% include footer.html %}--!>
  
