---
layout: default
---
  {% include header.html %}

  {% include bannera.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
    <tr>
      <td><img src="../assets/img/yuan/41.png" height=200></td>
      <td><img src="../assets/img/yuan/42.png" height=200></td>
      <td><img src="../assets/img/yuan/33.png" height=200></td>
      <td><img src="../assets/img/yuan/44.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/45.png" height=200></td>
      <td><img src="../assets/img/yuan/46.png" height=200></td>
      <td><img src="../assets/img/yuan/47.png" height=200></td>
      <td><img src="../assets/img/yuan/48.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/49.png" height=200></td>
      <td><img src="../assets/img/yuan/50.png" height=200></td>
      <td><img src="../assets/img/yuan/51.png" height=200></td>
      <td><img src="../assets/img/yuan/52.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/53.png" height=200></td>
      <td><img src="../assets/img/yuan/54.png" height=200></td>
      <td><img src="../assets/img/yuan/55.png" height=200></td>
      <td><img src="../assets/img/yuan/56.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/57.png" height=200></td>
      <td><img src="../assets/img/yuan/58.png" height=200></td>
      <td><img src="../assets/img/yuan/59.png" height=200></td>
      <td><img src="../assets/img/yuan/60.png" height=200></td>
    </tr>
    </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
  <nav class="pagination">
        <a href="../index.html">Home page</a>
      <a href="../c2/index.html">Prev</a>
      <a href="../c/index.html">1</a>
      <a href="../c2/index.html">2</a>
      <span class="disabled">3</span>
      <a href="../c4/index.html">4</a>
      <span class="../c4/index.html">Next</span>
  </nav>
  {% include footer.html %}
  
