---
layout: default
---
  {% include header.html %}

  {% include bannera.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
    <tr>
      <td><img src="../assets/img/zhang/61.png" height=200></td>
      <td><img src="../assets/img/zhang/62.png" height=200></td>
      <td><img src="../assets/img/zhang/63.png" height=200></td>
      <td><img src="../assets/img/zhang/64.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/zhang/65.png" height=200></td>
      <td><img src="../assets/img/zhang/66.png" height=200></td>
      <td><img src="../assets/img/zhang/67.png" height=200></td>
      <td><img src="../assets/img/zhang/68.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/zhang/69.png" height=200></td>
      <td><img src="../assets/img/zhang/70.png" height=200></td>
      <td><img src="../assets/img/zhang/71.png" height=200></td>
    </tr>
    </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
  <nav class="pagination">
      <a href="../index.html">Home page</a>
      <a href="../a3/index.html">Prev</a>
      <a href="../a/index.html">1</a>
      <a href="../a2/index.html">2</a>
      <a href="../a3/index.html">3</a>
      <span class="disabled">4</span>
      <span class="disabled">Next</span>
  </nav>
  {% include footer.html %}
  
