---
layout: default
---
  {% include header.html %}

  {% include bannerc.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
    <tr>
      <td><img src="../assets/img/yuan/1.png" height=200></td>
      <td><img src="../assets/img/yuan/2.png" height=200></td>
      <td><img src="../assets/img/yuan/3.png" height=200></td>
      <td><img src="../assets/img/yuan/4.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/5.png" height=200></td>
      <td><img src="../assets/img/yuan/6.png" height=200></td>
      <td><img src="../assets/img/yuan/7.png" height=200></td>
      <td><img src="../assets/img/yuan/8.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/9.png" height=200></td>
      <td><img src="../assets/img/yuan/10.png" height=200></td>
      <td><img src="../assets/img/yuan/11.png" height=200></td>
      <td><img src="../assets/img/yuan/12.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/13.png" height=200></td>
      <td><img src="../assets/img/yuan/14.png" height=200></td>
      <td><img src="../assets/img/yuan/15.png" height=200></td>
      <td><img src="../assets/img/yuan/16.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/17.png" height=200></td>
      <td><img src="../assets/img/yuan/18.png" height=200></td>
      <td><img src="../assets/img/yuan/19.png" height=200></td>
      <td><img src="../assets/img/yuan/20.png" height=200></td>
    </tr>
    </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
  <nav class="pagination">

      <span class="disabled">Prev</span>
      <span class="disabled">1</span>
      <a href="../c2/index.html">2</a>
      <a href="../c3/index.html">3</a>
      <a href="../c4/index.html">4</a>
      <a href="../c2/index.html">Next</a>
  </nav>
  {% include footer.html %}
  
