---
layout: default
---
  {% include header.html %}

  {% include bannera.html %}

  <main class="page-content" aria-label="Content">
  <!--<section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>-->
  <table align=center>
    <tr>
      <td><img src="../assets/img/yuan/61.png" height=200></td>
      <td><img src="../assets/img/yuan/62.png" height=200></td>
      <td><img src="../assets/img/yuan/63.png" height=200></td>
      <td><img src="../assets/img/yuan/64.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/65.png" height=200></td>
      <td><img src="../assets/img/yuan/66.png" height=200></td>
      <td><img src="../assets/img/yuan/67.png" height=200></td>
      <td><img src="../assets/img/yuan/68.png" height=200></td>
    </tr>
    <tr>
      <td><img src="../assets/img/yuan/69.png" height=200></td>
      <td><img src="../assets/img/yuan/70.png" height=200></td>
      <td><img src="../assets/img/yuan/71.png" height=200></td>
    </tr>
    </table>
  </main>
  <section id='zlx'>
  <!--{% include newsletter.html %}-->
  <h2 class='title'> plase send email to gaolin@ict.ac.cn for download and details</h2>
  </section>
  <nav class="pagination">
      <a href="../index.html">Home page</a>
      <a href="../c3/index.html">Prev</a>
      <a href="../c/index.html">1</a>
      <a href="../c2/index.html">2</a>
      <a href="../c3/index.html">3</a>
      <span class="disabled">4</span>
      <span class="disabled">Next</span>
  </nav>
  {% include footer.html %}
  
